<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		
	<!-- Properties file location specific to Jetty deployments -->
	<context:property-placeholder location="file:${jetty.home}/conf/pusachat.properties"
    	ignore-unresolvable="true" ignore-resource-not-found="true" order="1" />
    
    <!-- Properties file location specific to Tomcat deployments -->
    <context:property-placeholder location="file:${catalina.home}/conf/pusachat.properties"
    	ignore-unresolvable="true" ignore-resource-not-found="true" order="2" />
    	
    <!-- Application properties, used during development. -->
	<context:property-placeholder location="classpath:override.pusachat.properties"
		ignore-unresolvable="true" ignore-resource-not-found="true" order="3" />
    	
    <!-- The default application properties (packaged with .war) -->
	<context:property-placeholder location="classpath:default.pusachat.properties"
		ignore-unresolvable="true" order="4" />
		
	<bean id="PusaChatProperties"
		class="com.kolich.pusachat.spring.PusaChatProperties">
    	<property name="properties">
            <util:map map-class="java.util.HashMap">
            	<entry key="pusachat.app.version" value="${pusachat.app.version}" />
            	<entry key="pusachat.app.mode" value="${pusachat.app.mode}" />
            	<entry key="pusachat.context.path" value="${pusachat.context.path}" />
            	<entry key="pusachat.remove-inactive-users-after.ms" value="${pusachat.remove-inactive-users-after.ms}" />
            	<!-- <entry key="pusachat.max-chat-log-size" value="${pusachat.max-chat-log-size}" /> -->
            </util:map>
	    </property>
	</bean>
	
    <bean id="KolichStringSigner"
   		class="com.kolich.common.util.secure.KolichStringSigner">
   		<constructor-arg value="x6la53kE5drjrAECvma3hmlaH2Ewjkuj" />
   	</bean>
    
    <bean id="ChatRooms" class="com.kolich.pusachat.spring.beans.ChatRooms">
    	<property name="signer" ref="KolichStringSigner" />
    	<property name="properties" ref="PusaChatProperties" />
    </bean>
    
</beans>